name: lonate
description: A new Flutter package project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.15.0-178.1.beta <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

# The following section is specific to Flutter.
flutter:
